@using System.Configuration
@model Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div id='resetPasswordVM' class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default no-border">
                <div class="panel-body">
                    <div class="logo text-center">
                        <img src="~/src/images/core/logo.png" alt="@ConfigurationManager.AppSettings[" ApplicationName"]">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">User ID / Password Recovery</div>
                <div class="panel-body">
                    <div class="row">
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-lg-8 col-lg-offset-2">
                                <hr class="clean">
                                <form role="form">
                                    <div class="form-group text-center">
                                        To Reset / Unlock Password
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Enter User ID</label>

                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        </div>

                                    </div>
                                    <div class="form-group text-center">
                                        Ford User: Your User ID is your CDS ID
                                    </div>



                                    <button type="submit" class="btn btn-purple btn-block">Set User ID</button>
                                </form>
                                <hr>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row callouts">
        <div class="col-md-12">
            <h3 class="text-center">To Recover User ID</h3>
            <p class="text-center text-gray">Please contact OEM/A Support</p>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="panel panel-default no-border">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    @ConfigurationManager.AppSettings["ContactSupportPhone"] or <a class="mail" href="mailto:@ConfigurationManager.AppSettings["ContactSupportEmail"]">@ConfigurationManager.AppSettings["ContactSupportEmail"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
