@using System.Configuration
@using Web.Infrastructure.Static
@{
    ViewBag.Title = @ConfigurationManager.AppSettings["ApplicationTitleName"] + " " + "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="warper container-fluid tools">
    <div class="page-header">
        <h1>
            @ViewBag.Title <small>
                <i class="fa fa-question-circle"></i>
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#globalparameters" role="tab" data-toggle="tab">View / Edit Global System Parameters and Options</a>
                </li>
                <li>
                    <a href="#mailboxfileexpiration" role="tab" data-toggle="tab">Mailox File Expiration</a>
                </li>
            </ul>
            <div class="tab-content">
                <!-- View / Edit Global System Parameters and OptionsTab -->
                <div class="panel panel-default tab-pane tabs-up active" id="globalparameters">

                    <div class="page-header">
                        <div class="panel-heading">
                            <h2 class="username">@User.Identity.Name</h2> <label class="security-level">@SecurityLevel.CurrentSecurityLevel()</label>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal validator-form" method="post">
                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">Require password reset (days)</label>
                                <div class="col-md-2">
                                    <input type="text" name="username" class="form-control" data-bv-field="username">
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">File expiration until automatic deletion (days)</label>
                                <div class="col-md-2">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>
                            <hr class="spaced" />
                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">1st Notification (days)</label>
                                <div class="col-md-1">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">2nd Notification (days)</label>
                                <div class="col-md-1">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">3rd Notification (days)</label>
                                <div class="col-md-1">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>
                            <hr class="spaced" />
                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">Hold upload / download data (days)</label>
                                <div class="col-md-2">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">Hold upload / transaction data (days)</label>
                                <div class="col-md-2">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>

                            <hr class="spaced" />
                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">EOM/A Mailbox From</label>
                                <div class="col-md-2">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">Ford Global Admin Email</label>
                                <div class="col-md-2">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">Root mailbox path \\fileserver\mailboxes\</label>
                                <div class="col-md-2">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">Server time adjust</label>
                                <div class="col-md-2">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">Server time adjust</label>
                                <div class="col-md-2">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="col-md-2 control-label">\\fileserver\mailboxes\filetransit\</label>
                                <div class="col-md-2">
                                    <input type="text" name="Email" class="form-control" data-bv-field="Email">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <button class="btn btn-primary pull-right" type="submit">Save</button>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="panel-footer">
                    </div>
                </div>
                <!-- Mailox File Expiration Tab -->
                <div class="panel panel-default padd-t-sm tab-pane tabs-up" id="mailboxfileexpiration">
                    <div class="panel-body">
                        <div class="page-header">
                            <div class="panel-heading">
                                <h2 class="username">@User.Identity.Name</h2> <label class="security-level">@SecurityLevel.CurrentSecurityLevel()</label>
                            </div>
                        </div>
                        <ul class="list-unstyled list-inline showcase-btn">
                            <li><button class="btn btn-primary" type="button">Execute File Evaluation</button></li>
                            <li><button class="btn btn-primary" type="button">Execute File Actions</button></li>
                        </ul>
                        <hr class="clean">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="files-evaluation-table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>File ID</th>
                                                <th>File Name</th>
                                                <th>Expiration</th>
                                                <th>Days Left</th>
                                                <th>Delete Info</th>
                                            </tr>
                                        </thead>
                                        <tbody colspan="5" class="dataTables_empty"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/src/js/app/component/admin/UserProfileVM.js"></script>